.no-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .no-table-text {
    color: grey; /* Grey text */
    font-size: 20px;
    font-family: "Georgia";
    margin-bottom: 15px;
  }